<h1>Hello from Sandbox</h1>

<h3>This site is for me to:</h3>
<ul id="list">
  <li>Try things out I've never done before</li>
  <li>Build things from scratch</li>
  <li>Try things I haven't done in a while</li>
</ul>

<div class="cats">
  <img src="http://placekitten.com/g/200/300" width="200px" height="300px" id="big-cat">
  <div class="little-cats">
    <ul>
      <li>
        <img src="http://placekitten.com/g/300/300" id="first" class="kitty">
      </li>
      <li>
        <img src="http://placekitten.com/g/400/500" id="second" class="kitty">
      </li>
      <li>
        <img src="http://placekitten.com/g/300/400" id="third" class="kitty">
      </li>
      <li>
        <img src="http://placekitten.com/g/450/450" id="fourth" class="kitty">
      </li>
      <li>
        <img src="http://placekitten.com/g/250/350" id="fifth" class="kitty">
      </li>
      <li>
        <img src="http://placekitten.com/g/350/450" id="sixth" class="kitty">
      </li>
    </ul>
  </div>
</div>
