.container {
  padding:   80px 30px;
  position: relative;
}

@mixin drop-down-menu-styling {
  // margin-left:      0;
  background-color: lightgrey;
  // display:          inline;
  border:           solid 1px grey;
  // display:          block;
  width:            90px;
  padding:          5px;
}

@import 'normalize',
        'animate',
        'header',
        'index',
        'cats',
        'clickables';
